* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.title {
  margin-top: 30px;
  text-align: center;
  color: #242535;
}

.point {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.wall {
  background-color: #242535;
}

.free {
  background-color: #ddd;
}

.start {
  background-color: red;
}

.coin {
  background-color: yellow;
}

.end {
  background-color: green;
}

.maze-container {
  width: fit-content;
  margin: 40px auto;
  border: 1px solid #242535;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.parameters-container {
  margin: 40px auto;
  width: fit-content;
  display: flex;
}

.button-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.push-button {
  appearance: none;
  width: 120px;
  height: 40px;
  background-color: #242535;
  color: #ddd;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 24px;
}

button.disabled {
  cursor: default !important;
}

button.disabled span {
  display: none;
}

button.disabled #loader {
  display: block;
}

.agent {
  /* border-radius: 50%;a*/
  background-color: yellow;
  width: 60%;
  height: 60%;
  border-radius: 3px;
  margin: auto;
}

.loader-container {
  width: fit-content;
  margin: 40px auto 0 auto;
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ddd;
  border-top: 3px solid #333;
  display: none;
  margin: 0 auto;

  animation: spin 2s linear infinite;
}

#loader.active {
  display: block;
}

.results-container {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
