body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.point {
  height: 30px;
  width: 30px;
}

.wall {
  background-color: #242535;
}

.free {
  background-color: #ddd;
}

.start {
  background-color: red;
}

.end {
  background-color: green;
}

.maze-container {
  width: fit-content;
  margin: 10% auto 0 auto;
  border: 1px solid #242535;
}
